DATABASE_URL=postgres://localhost:5432/socialchange_development
DOMAIN_NAME=localhost
DOMAIN_EMAIL_ADDRESS=email@example.com
SECRET_KEY=
EMAIL_SERVER_HOST=smtp.email-service.com
EMAIL_SERVER_PORT=465
EMAIL_SERVER_USER=user@email-service.com
EMAIL_SERVER_PASSWORD=
DO_ENDPOINT=https://ams3.digitaloceanspaces.com
DO_REGION=YOUR_REGION
DO_BUCKET=YOUR_BUCKET
DO_ACCESS_KEY=YOUR_KEY
DO_ACCESS_SECRET=YOUR_SECRET
BUGSNAG_API_KEY=
