<p>
  <%= t('.body_html', user_first_name: @user.name.split(' ').first, discussion_title: @discussion.title, story_title: @story.title) %>
</p>
<div class="post_body">
  <%= sanitize @post.body %>
</div>
<p>
  <%= link_to @discussion.title, story_discussion_url(@story, @discussion) %>
</p>
