<% content_for :title, t(".notifications") %>

<h2><%= yield(:title) %></h2>

<div id="notifications">
  <% @notifications.each do |notification| %>
    <div class="py-2 d-flex align-items-center <%= 'text-body-tertiary' if notification.read? %>">
      <span>
        <% if notification.unread? %>
          <i class="bi bi-circle-fill px-2" style="font-size: 8px; color: cornflowerblue;"></i>
        <% end %>
      </span>
      <span>
        <%= link_to notification.message, notification.url, class: "text-reset" %>
      </span>
      <small class="ms-auto"><%= time_ago(notification.created_at) %></small>
    </div>
  <% end %>
</div>
