<% content_for :title, t('.title') %>

<%= turbo_frame_tag "modal" do %>

  <h1 class="h3 modal-header"><%= yield(:title) %></h1>

  <div class="modal-body">
    <%= render "form", contribution: @contribution %>
  </div>

<% end %>
