<%= search_form_for @q,
  class: "row row-cols-lg-auto g-3 align-items-center",
  html: { autocomplete: 'off', autocapitalize: 'none' } do |f| %>
  <div class="col-12">
    <%= f.search_field :title_or_description_or_outcomes_or_source_cont, :class => "form-control" %>
  </div>
  <div class="col-12">
    <%= f.submit t("form_actions.search"), :class => "btn btn-primary" %>
  </div>
<% end %>
