<% content_for :title, t(".title") %>

<h1><%= yield(:title) %></h1>

<%= render "search" %>
<br>

<div id="stories">
  <% @stories.each do |story| %>
    <%= render "list_item", story: story %>
  <% end %>
</div>

<div class="my-5">
  <%= paginate @stories %>
</div>
