
<% content_for :javascript do %>
  <%= javascript_include_tag 'admin_category_tree.js' %>
<% end %>

<%=
  render("index_header",
    resources: resources,
    search_term: search_term,
    page: page,
    show_search_bar: false,
  )
%>

<section class="main-content__body main-content__body--flush" data-controller="category-tree">
  <%= react_component "CategoryTree", items: @categories, form_authenticity_token: %>
</section>
