<% content_for :title, t('.edit_post') %>

<h1><%= yield(:title) %></h1>

<%= turbo_frame_tag dom_id(@post) do %>
  <div class="py-4 border-top">
    <%= render "form", post: @post %>
  </div>
<% end %>
