<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
      }

      main {
        padding: 20px;
      }

      a {
        color: #0d6efd;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .post_body {
        margin: 10px 0;
        padding: 1px 5px 10px 20px;
        border-left: 4px solid #eee;
        background: #f7f7f7
      }
    </style>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
